<table class="table table-striped border">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Nombre</th>
			<th scope="col">Descripcion</th>
			<th scope="col">Estado</th>
		</tr>
	</thead>
	<tbody>
		@for (category of categories; track category) {
			<tr>
				<th scope="row">{{ category.id }}</th>
				<td>{{ category.name }}</td>
				<td>{{ category.description }}</td>
				<td>
					<dsb-badge-atom
						[text]="category.status"
						[type]="statusMap[category.status]" >
                    </dsb-badge-atom>
				</td>
			</tr>
		}
	</tbody>
</table>
